<span style="color:red">**I use my comment with red text like this**</span>  
<span style="color:red">**You can install jupyter notebook**</span>   
<span style="color:red">**Just try to search "jupyter notebook ocaml" in github**</span>   
 

# Assignment 5.1 (P): Getting Started

Have a quick look at the following OCaml tools.

## REPLs (Read Eval Print Loops)

### ocaml

Simply type your OCaml code. If you want the REPL to execute your code, type `;;`. Execute the content of a .ml file with `#use "<filename>"`. To exit the REPL enter `#quit` or type `Ctrl + D`. Note that `#use`, `quit` as well as `;;` are special sequences recognized by the REPL and are not part of OCaml (so do not use them in a .ml file).

### utop
<span style="color:red">**A good tool if you want to try some small function.**</span>  
utop works in the same way as ocaml, but is more comfortable as it comes with autocompletion, for example, and allows you to change or redo previously typed code much more easily.
## IDEs

### Visual Studio Code

Visual Studio Code is a free full-fledged integrated development environment for a lot of programming languages, due to its great extensibility and rich set of existing extensions. The OCaml plugin together with merlin and ocp-indent provides great utilities

* syntax highlighting
* autocompletion
* smart identation
* peek and goto definition
* type information 
* immediate error reports
* integrated terminal
* and much more ...

## Compilers

### ocamlc

ocamlc is a basic ocaml compiler. When invoked as `ocamlc <file-0> ... <file-n>` it compiles all files into an executable named `a.out`. During this process, `.cmi` and `.cmo` files are generated, representing the compiled interface and object files respectively. Check the documentation (http://caml.inria.fr/pub/docs/manual-ocaml-4.00/manual022.html#toc86) for a list of all command line options and more advanced build steps.

### ocamlbuild

ocamlbuild is a more convenient compilation utility, as it resolves and compiles dependencies automatically. In order to build your project with ocamlbuild, simply compile your main file `<file>.ml` with either `ocamlbuild <file>.d.byte` or `ocambuild <file>.native` to produce bytecode (with debug information) or native code, respectively. Check the documentation (https://ocaml.org/learn/tutorials/ocamlbuild/) for more details.

# Assignment 5.2 (P) Expressions

So far, you learned about the following types of expressions:
* Constants
* Variables
* Unary operators
* Binary operators
* Tuples
* Records
* Lists
* If-then-else
* Pattern matching
* Function definition
* Function application
* Variable binding

Perform the following tasks:
1. For each of these expressions, give the general structure and two concrete examples with different subexpressions.

* Constants: $c$ e.g. `7`, `true`  
<br>
* Variables: $v$ e.g. `a`, `my_function`  
<br>
* Unary operators: $op \; e$ e.g. `-x`, `not true`  
<br>
* Binary operators: $e_0 \; op \; e_1$ e.g. `3 + a`, `x = -y`  
<br>
* Tuples: $e_0, \dotsc, e_n$, e.g. `2, x`, `false, 2 + 4, a, my_function`  
<span style="color:red">**You can also use (...) in tuples, but they are optional.**</span> 
<br>
* Records (definition): $\{ attr_0 = e_0; \dotsc attr_n = e_n \}$, e.g. `{ width = 7; height = x - 2 }` (note that a record type with these attributes must be declared)  
<span style="color:red">**Like a class, which can generalize the objects**</span> 
<br>
* Records (access): $e_0.e_1$ e.g. `size.width`, `{ age = 12 }.age`  
<br>
* Lists: $e_0 :: e_1$ (resp. $[ e_0, \dotsc, e_n]$, e.g. `2::[]`, `[1,2;3,4;5,6]`  
<span style="color:red">**We always use this, but array not so often.**</span> 
<br>
* if-then-else: $\mbox{if} \; e_0 \; \mbox{then} \; e_1 \; \mbox{else} \; e_2$, e.g. `if x > 0 then 2 else -4`, `if a = b then 1.0, 'a' else -0.5, 'b'`  
<br>
* Pattern matching: $\mbox{match} \; e \; \mbox{with} \; pat_0 \;\to \;e_0 \; | \; \dotsc \; | \; pat_n \; \to \; e_n$, e.g. `match a with [] -> 1 | x::_ -> x`, `match x,y with 0,0 -> "" | 1,_ -> "x" | _ -> "abc"`  
<br>
* Function definition: $\mbox{fun} \; arg_0 \; \dotsc \; arg_n \; \to e$, e.g. `fun x -> 2`, `fun a b c -> a + b - c`  
<span style="color:red">**They are anonymous functions**</span> 
<br>
* Function application: $e \; e_0$ (resp. $e \; e_0 \; \dotsc \; e_n$), e.g. `f 2`, `(fun x -> 0) (1::[])`   
<span style="color:red">**The second one is how we apply the anonymous functions**</span> 
<br>   


* Variable binding: $\mbox{let} \; name = e_0 \; \mbox{in} \; e_1$, e.g. `let x = 4 in x * x`, `let f = fun a -> a + 2 in f 7`  
<span style="color:red">**We call x = ...  a variable binding in the Functional Programming, there are some difference between it and the variable decleration in Java. You can google that. But this difference is not exam relevant**</span>

<br><br><br>
$2$. For these expression, list all contained subexpressions and give their corresponding type. Then evaluate the expression:

In [2]:
(* a *) let a = fun x y -> x + 2 in a 3 8 :: []

- : int list = [5]

In [2]:
(* b *) ((fun x -> x::[]) (9 - 5), true, ('a', 7))

- : int list * bool * (char * int) = ([4], true, ('a', 7))

(* a *) let a = fun x y -> x + 2 in a 3 8 :: []    : int list                       
                fun x y -> x + 2                   : int -> 'a -> int
                           x + 2                   : int
                           x                       : int
                               2                   : int
                                    a 3 8 :: []    : int list
                                    a 3 8          : int
                                    a              : int -> 'a -> int
                                      3            : int
                                        8          : int
                                             []    : int list
        (* value = [5] *)
                                             
(* b *) ((fun x -> x::[]) (9 - 5), true, ('a', 7)) : int list * bool * (char * int)
         (fun x -> x::[]) (9 - 5)                  : int list
          fun x -> x::[]                           : 'a -> 'a list
                   x::[]                           : 'a list
                   x                               : 'a
                      []                           : 'a list
                           9 - 5                   : int
                           9                       : int
                               5                   : int
                                   true            : bool
                                          'a', 7   : char * int
                                          'a'      : char
                                               7   : int
        (* value = ([4], true, ('a', 7)) *)

# Assignment 5.3 (P): What's the point?

In this assignment, you are supposted to implement some functionalities to compute with 3-dimensional vectors. 

1. Define a suitable data type for your point.

In [5]:
type vector3 = float * float * float;;

type vector4 = float * float * float * float;;

type my_int = int;;

type vector3 = float * float * float

type vector4 = float * float * float * float

type my_int = int

<br><br><br>
$2$. Define three points `p1`, `p2` and `p3` with different values.

In [8]:
let p1 = -2.5, 5.0, 0.2
let p2 = 0.0, 0.0, 13.1
let p3 = 5.4, -8.2, 1.0

let my_vector =  1.0, 1.0, 1.0;;
let my_vector_with_p = (0., 0., 0.);;
let same_vector = 0., 0., 0.;;

val p1 : float * float * float = (-2.5, 5., 0.2)

val p2 : float * float * float = (0., 0., 13.1)

val p3 : float * float * float = (5.4, -8.2, 1.)

val my_vector : float * float * float = (1., 1., 1.)

val my_vector_with_p : float * float * float = (0., 0., 0.)

val same_vector : float * float * float = (0., 0., 0.)

<span style="color:red">**Using the (...) is same, for me it is more readable. BUT THEY CREATE THE SAME TUPELS
 **</span>

In [32]:
let p1 = (-2.5, 5.0, 0.2)
let p2 = (0.0, 0.0, 13.1)
let p3 = (5.4, -8.2, 1.0)

val p1 : float * float * float = (-2.5, 5., 0.2)

val p2 : float * float * float = (0., 0., 13.1)

val p3 : float * float * float = (5.4, -8.2, 1.)

<br>
<br>
<br>
$3$. Implement a function `vector3_to_string : vector3 -> string` to convert a vector into a human-readable representation.

In [9]:
string_of_float;;

let vector3_to_string =
    fun (x,y,z) -> "(" ^ 
        (string_of_float x) ^ "," ^ 
        (string_of_float y) ^ "," ^ 
        (string_of_float z) ^ ")"

val vector3_to_string : float * float * float -> string = <fun>

<span style="color:red">**We have also use a trivial solution, not to use the anonymous function**</span>

In [10]:
let my_version (x, y, z) = string_of_float x ^ " " ^ string_of_float y ^ " " ^ string_of_float z;;



let vector3_to_string_my_version (x, y, z) = "(" ^ 
        (string_of_float x) ^ "," ^ 
        (string_of_float y) ^ "," ^ 
        (string_of_float z) ^ ")"

val my_version : float * float * float -> string = <fun>

val vector3_to_string_my_version : float * float * float -> string = <fun>

<br><br><br>

$4$. Write a function `vector3_add : vector3 -> vector3 -> vector3` to add two vectors.

In [ ]:
(+.);; (* HINT *)

let vector3_add (x1,y1,z1) (x2,y2,z2) = x1+.x2, y1+.y2, z1+.z2

<span style="color:red">**We check out the type of our operators!**</span>

In [13]:
(+);;

- : int -> int -> int = <fun>

In [12]:
(-);;

- : int -> int -> int = <fun>

In [15]:
(*) 
(* This is how we comment in ocaml*)

error: compile_error

File "[15]", line 1, characters 0-3:
Warning 1: this is the start of a comment.

In [25]:
( * );; (*Now is the multiply operator*)

- : int -> int -> int = <fun>

In [17]:
(/);;

- : int -> int -> int = <fun>

In [26]:
(mod);;

- : int -> int -> int = <fun>

In [20]:
(+.);;

- : float -> float -> float = <fun>

In [22]:
(-.);;

- : float -> float -> float = <fun>

In [23]:
( *. );;

- : float -> float -> float = <fun>

In [24]:
(/.);;

- : float -> float -> float = <fun>

<span style="color:red">**I hope you can get some feeling about the operator are just binary functions.   
  The type and the signaturs of the ocaml functions.**</span>

<br><br><br>
$5$. Write a function `vector3_max : vector3 -> vector3 -> vector3` that returns the larger vector (the vector with the greater magnitude).

In [29]:
let vector3_max (x1,y1,z1) (x2,y2,z2) =
    if x1*.x1 +. y1*.y1 +. z1*.z1 > x2*.x2 +. y2*.y2 +. z2*.z2 
        then (x1, y1, z1) 
        else (x2, y2, z2)

val vector3_max :
  float * float * float -> float * float * float -> float * float * float =
  <fun>

<span style="color:red">**Wait! We can make it more beautiful using another function to calculate the self multiply of the vector  
  Try to do that on your own!**</span>

In [42]:
(* Like 
  self_multiply (1.0, 1.0, 1.0);;
  - : float = 3.
  self_multiply (2.0, 2.0, 2.0);;
  - : float = 12.
*)

In [11]:
let self_multiply (x, y, z) = x *. x +. y *. y +. z *. z;;
self_multiply (1.0, 1.0, 1.0);;
self_multiply (2.0, 2.0, 2.0);;

val self_multiply : float * float * float -> float = <fun>

- : float = 3.

- : float = 12.

<span style="color:red">**Now t build our `vector3_max_my_version` using this function!**</span>

In [45]:
let vector3_max_my_version (x1,y1,z1) (x2,y2,z2) =
    if self_multiply (x1,y1,z1) > self_multiply (x2,y2,z2)
        then (x1, y1, z1) 
        else (x2, y2, z2)

val vector3_max_my_version :
  float * float * float -> float * float * float -> float * float * float =
  <fun>

<span style="color:red">**We can have have a tity version without the (...)**</span>

In [46]:
let vector3_max_my_second_version x1 x2 =
    if self_multiply x1 > self_multiply x2 
        then x1 
        else x2

val vector3_max_my_second_version :
  float * float * float -> float * float * float -> float * float * float =
  <fun>

<span style="color:red">**We can have have a more tity version with the inside function**</span>

In [50]:
let vector3_max_my_last_version x1 x2 =
    let self_multiply_inside (x, y, z) = x *. x +. y *. y +. z *. z
    in
    if self_multiply_inside x1 > self_multiply_inside x2 
        then x1 
        else x2;;

self_multiply_inside;;

val vector3_max_my_last_version :
  float * float * float -> float * float * float -> float * float * float =
  <fun>

error: compile_error

<span style="color:red">**Pay attention to the scoping of the inside function!  
  We have not access the inside funtion at the outer scope  
  Look at the Error: Unbound value above!**</span>

<br><br><br>
$6$. Compute the result of adding `p1` to the larger of `p2` and `p3` and print the result as a string.

In [ ]:
vector3_to_string (vector3_add p1 (vector3_max p2 p3))

# Assignment 5.4 (P) Student Database

In this assignment, you have to manage the students of a university.

1. Define a data type for a student. For every student the first name, last name, identification number, current semester as well as the grades received in different courses have to be stored. A course is simply represented by a number.

In [15]:
type student = { 
    first_name : string; 
    last_name : string; 
    id : int; 
    semester : int; 
    grades : (int * float) list 
}

type student = {
  first_name : string;
  last_name : string;
  id : int;
  semester : int;
  grades : (int * float) list;
}

The collection of students is now defined as a list of students:

In [16]:
type database = student list;;

(*List*)
[];;
[1];;
1 :: [];;
[1; 2; 3];
(* Error when  [1, ture];; *)

type database = student list

- : 'a list = []

- : int list = [1]

- : int list = [1]

- : int list = [1; 2; 3]

<span style="color:red">**What is the difference?  
  `[1; 2; 3]` and `[1, 2, 3]`**</span>

In [17]:
[1; 2; 3];;
[1, 2, 3];;

- : int list = [1; 2; 3]

- : (int * int * int) list = [(1, 2, 3)]

<span style="color:red">**How to loop a list?
  We are not allowed to use FOR WHILE in ocaml.  
  The `unit` is not relevant for now.**</span>

In [18]:
let int_list = [1; 2; 3; 4; 5];;
let rec looper l = 
        match l with [] -> print_endline "Now Empty!"
                |  x :: xs -> print_endline (string_of_int(x)) ; looper xs;;
looper int_list;;

val int_list : int list = [1; 2; 3; 4; 5]

val looper : int list -> unit = <fun>

- : unit = ()

1
2
3
4
5
Now Empty!

<br><br><br>

$2$. Write a function `insert : student -> database -> database` that inserts a student into the database.

In [19]:
let insert s db = s::db;;

1::[2];;

val insert : 'a -> 'a list -> 'a list = <fun>

- : int list = [1; 2]

<br><br><br>
$3$. Write a function `find_by_id : int -> db -> student list` that returns a list with all students with the given id (either a single student or an empty list, if no such student exists).

In [28]:
let rec find_by_id id db = 
    match db with [] -> [] 
             | x::xs -> if x.id = id 
                               then [x] 
                        else find_by_id id xs;;
                        
let int_list = [0; 1; 2; 3; 4];;
List.hd;;
List.hd int_list;;
List.tl;;
List.tl int_list;;

let rec int_finder i l = 
                match l with [] -> []
                        | x :: xs -> if x = i then [x] else int_finder i xs;;
int_finder 5 int_list;;
int_finder 3 int_list;;

val find_by_id : int -> student list -> student list = <fun>

val int_list : int list = [0; 1; 2; 3; 4]

- : 'a list -> 'a = <fun>

- : int = 0

- : 'a list -> 'a list = <fun>

- : int list = [1; 2; 3; 4]

val int_finder : 'a -> 'a list -> 'a list = <fun>

- : int list = []

- : int list = [3]

<br><br><br>
$4$. Implement a function `find_by_last_name : string -> database -> student list` to find all students with a given last name.

In [59]:
let rec find_by_last_name name db = 
   match db with [] -> []
            | x::xs -> if x.last_name = name 
                                  then x::find_by_last_name name xs 
                       else find_by_last_name name xs

val find_by_last_name : string -> student list -> student list = <fun>

<br><br><br><br>
<span style="color:red">**If we have time in class  
  Otherweise please checkout these functions at home!  
  Very helpful**</span>   
[check this link to learn more about List](https://caml.inria.fr/pub/docs/manual-ocaml/libref/List.html)

In [73]:
List.hd;;
List.tl;;
List.length;;
List.nth;;
List.cons;;

List.rev;;
List.init;;
List.append;;
List.flatten;;
List.exits;;
List.mem;;

List.filter;;
List.map;;
List.fold_left;;

- : 'a list -> 'a = <fun>

- : 'a list -> 'a list = <fun>

- : 'a list -> int = <fun>

- : 'a list -> int -> 'a = <fun>

- : 'a -> 'a list -> 'a list = <fun>

- : ('a -> 'b) -> 'a list -> 'b list = <fun>

- : ('a -> 'b -> 'a) -> 'a -> 'b list -> 'a = <fun>

In [57]:
let exmp_list = [0 ;1; 2; 3; 4; 5; 6; 7; 8; 9];;
List.hd exmp_list;;
List.tl exmp_list;;

List.length exmp_list;;
List.nth;;
List.nth exmp_list 2;;
List.nth exmp_list 0;;
List.cons;;
List.cons 10 exmp_list;;
10 :: exmp_list;;
List.rev;;
List.rev exmp_list;;
List.append;;
List.append [10; 11; 12] exmp_list;;
List.flatten;;
List.flatten [[1; 2]; [3; 4]; [5; 6]];;
List.exists;;
let even x = if x mod 2 == 1 then true else false;;
List.exists even exmp_list;;
let odd_list = [2; 4; 6; 8];;
List.exists even odd_list;;
List.mem;;
List.mem 10 exmp_list;;
List.mem 5 exmp_list;;

val exmp_list : int list = [0; 1; 2; 3; 4; 5; 6; 7; 8; 9]

- : int = 0

- : int list = [1; 2; 3; 4; 5; 6; 7; 8; 9]

- : int = 10

- : 'a list -> int -> 'a = <fun>

- : int = 2

- : int = 0

- : 'a -> 'a list -> 'a list = <fun>

- : int list = [10; 0; 1; 2; 3; 4; 5; 6; 7; 8; 9]

- : int list = [10; 0; 1; 2; 3; 4; 5; 6; 7; 8; 9]

- : 'a list -> 'a list = <fun>

- : int list = [9; 8; 7; 6; 5; 4; 3; 2; 1; 0]

- : 'a list -> 'a list -> 'a list = <fun>

- : int list = [10; 11; 12; 0; 1; 2; 3; 4; 5; 6; 7; 8; 9]

- : 'a list list -> 'a list = <fun>

- : int list = [1; 2; 3; 4; 5; 6]

- : ('a -> bool) -> 'a list -> bool = <fun>

val even : int -> bool = <fun>

- : bool = true

val odd_list : int list = [2; 4; 6; 8]

- : bool = false

- : 'a -> 'a list -> bool = <fun>

- : bool = false

- : bool = true

# Homework Assignments

The homework assignments can be found in a separate pdf file.